<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Neighborhood Index Page</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <!-- <li><a href="/neighborhood/new">Add New Neighborhood</a></li> -->
      </ul>
    </nav>
    <main>
      <div class="">
        <h3>Neighborhoods</h3>
          <button><a href="/neighborhood/:id">Fishtown</a></button>
      </div>
    </main>
  </body>
</html>
