<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <h1>Under The Radar <br/><span> Restaurants </span> </h1>
      <h5> – PHILADELPHIA – </h5>
    </header>
    <main>
      <div class="">
        About
      </div>
      <div class="">
        <h3>Neighborhoods</h3>
        <% for (let i = 0; i < neighborhoods.length; i++) { %>
          <div class="hood-buttons">
            <a href="/undertheradar/<%=neighborhoods[i].id%>">  <button><%=neighborhoods[i].name%> </button></a>
          </div>
        <% } %>
      </div>
    </main>
  </body>
</html>
