<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Add New Restaurant</h1>
      <nav>
        <button><a href="#">Home</a></button>
        <button><a href="#"></a>Neighborhood</button>
      </nav>
    </header>
    <main>
      <div class="">
        <form class="" action="" method="">
          Name: <input type="text" name="name"/><br/>
          Cuisine: <input type="text" name="cuisine"/><br/>
          Rating: <input type="text" name="rating"/><br/>
          Comments: <input type="text" name="description"/><br/>
          Wish List: <input type="checkbox" name="wishList"/><br/>
          <input type="submit" value="Add Restaurant">
        </form>
      </div>
    </main>
  </body>
</html>
