<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <h1><%=neighborhood.name%></h1>
      <nav>
        <a href="/undertheradar"><button>Home</button></a>
        <a href="/undertheradar/<%=neighborhood._id%>/new"><button>Add Restaurant</button></a>
      </nav>
    </header>
    <main>
      <div class="restaurant cards">
        <% for (let i = 0; i < restaurant.length; i++) { %>
          <% if(neighborhood.name == restaurant[i].neighborhood) { %>
             <h4><a href="/undertheradar/restaurant/<%=restaurant[i].id%>"><%=restaurant[i].name%></a></h4>
          <% } %>
        <% } %>
      </div>
    </main>
  </body>
</html>
