<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1><%=neighborhood.name%></h1>
      <nav>
        <button><a href="/undertheradar">Home</a></button>
        <button><a href="/undertheradar/<%=neighborhood._id%>/new">Add Restaurant</a></button>
      </nav>
    </header>
    <main>
      <div class="restaurant cards">
        <% for (let i = 0; i < restaurant.length; i++) { %>
          <% if(neighborhood.name == restaurant[i].neighborhood) { %>
             <h4><a href="/undertheradar/restaurant/<%=restaurant[i].id%>"><%=restaurant[i].name%></a></h4>
          <% } %>
        <% } %>
      </div>
    </main>
  </body>
</html>
